@typeparam TDto where TDto : class
@typeparam TSearchDto where TSearchDto : ISearchDto
@inject GenericDtoServiceFactory DtoServiceFactory
@using MauiBlazorWeb.Shared.Factories.FactoriesImpl
@using MauiBlazorWeb.Web.Services.ServicesImpl
@using global::Shared.Dtos.DtosImpl

<h3>GenericSearch</h3>
<div class="search-form">
    @SearchForm(search)
</div>
<button @onclick="PerformSearch">Search</button>

<div class="table">
    @Table((items, EventCallback.Factory.Create<TDto>(this, item => OnItemSelected(item)), EventCallback.Factory.Create<(string?, bool?)>(this, args => OnSortSelected(args.Item1, args.Item2))))
</div>

@code {
    [Parameter] public RenderFragment<TSearchDto> SearchForm { get; set; } = default!;
    [Parameter] public RenderFragment<(List<TDto>, EventCallback<TDto>, EventCallback<(string?, bool?)>)> Table { get; set; } = default!;
    [Parameter] public EventCallback<List<TDto>> OnItemsFound { get; set; }
    [Parameter] public TSearchDto search { get; set; } = default!;

    private TDto? selectedItem;

    protected override Task OnInitializedAsync()
    {
        if (search == null)
        {
            search = Activator.CreateInstance<TSearchDto>();
        }
        return Task.CompletedTask;
    }

    private async Task OnItemSelected(TDto item)
    {
        selectedItem = item;
        StateHasChanged();
    }

    private async Task OnSortSelected(string? sortBy, bool? sortDescending)
    {
        search.SortBy = sortBy;
        search.SortDescending = sortDescending;
        await PerformSearch();
    }

    private List<TDto> items = new List<TDto>();

    private GenericDtoService<TDto, TSearchDto>? _service;

    protected override void OnInitialized()
    {
        _service = DtoServiceFactory.Create<TDto, TSearchDto>();
    }

    private async Task PerformSearch()
    {
        if (_service == null) return;
        var result = await _service.SearchAsync(search);
        items = result.Data;
        await OnItemsFound.InvokeAsync(items);
        StateHasChanged();
    }
}
