@using global::Shared.Dtos.DtosImpl
@inject IJSRuntime JS

<div id="map" style="height: 400px;"></div>

<button @onclick="LoadMap">Karte anzeigen</button>

@code {
    private GeoCoordinate? coord;

    protected override async Task OnInitializedAsync()
    {
        coord = new GeoCoordinate
        {
            Latitude = 46.94809,
            Longitude = 7.44744
        };
    }

    private async Task LoadMap()
    {
        if (coord != null)
        {
            await JS.InvokeVoidAsync(
                "showMap",
                coord.Latitude,
                coord.Longitude);
        }
    }
}
