@using MauiBlazorWeb.Shared.Classes
@inject IJSRuntime JS

<div @ref="mapDiv" style="height: 500px;"></div>

@code {
    [Parameter, EditorRequired]
    public List<MapMarker> markers { get; set; } = default!;

    private ElementReference mapDiv;
    private List<MapMarker> previousMarkers = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initMap", mapDiv, markers);
            previousMarkers = markers.ToList();
        }
        else if (!AreMarkersEqual(previousMarkers, markers))
        {
            await JS.InvokeVoidAsync("updateMarkers", mapDiv, markers);
            previousMarkers = markers.ToList();
        }
    }

    private bool AreMarkersEqual(List<MapMarker> oldList, List<MapMarker> newList)
    {
        if (oldList.Count != newList.Count) return false;
        for (int i = 0; i < oldList.Count; i++)
        {
            if (oldList[i].Latitude != newList[i].Latitude ||
                oldList[i].Longitude != newList[i].Longitude ||
                oldList[i].Info != newList[i].Info)
                return false;
        }
        return true;
    }
}
