@using global::Shared.Dtos.DtosImpl

<h3>SaveChickenRequestSearchForm</h3>

<EditForm Model="Model">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudTextField @bind-Value="Model.SearchTerm" Label="SearchTerm" Variant="Variant.Outlined" />
    <ValidationMessage For="@(() => Model.SearchTerm)" />


</EditForm>

@code {
    [Parameter] public SaveChickenRequestSearch Model { get; set; } = default!;
}
