@using MauiBlazorWeb.Shared.Components.ComponentsImpl.Contacts
@using MauiBlazorWeb.Shared.Components.ComponentsImpl.Addresses
@using global::Shared.Dtos.DtosImpl
@code {
    [Parameter, EditorRequired]
    public SaveChickenRequestDto Model { get; set; } = new SaveChickenRequestDto();
    private List<int> saveChickenActionIds = new List<int>();

    protected override void OnInitialized()
    {
        // For demonstration, populate with sample IDs
        saveChickenActionIds = Enumerable.Range(1, 10).ToList();
    }
}

<ContactForm Contact="Model.Contact" />
<AddressForm Address="Model.Address" />

<div>
    <label for="numberOfChickensToBeSaved">Number of Chickens to be Saved:</label>
    <InputNumber id="numberChickens" @bind-Value="Model.NumberOfChickensToBeSaved" class="form-control" />
    <ValidationMessage For="@(() => Model.NumberOfChickensToBeSaved)" />
</div>
<div>
    <label>Description of Place:</label>
    <InputTextArea @bind-Value="Model.DescriptionOfPlaceForChickens" class="form-control" />
    <ValidationMessage For="@(() => Model.DescriptionOfPlaceForChickens)" />
</div>
<div class="form-check">
    <InputCheckbox @bind-Value="Model.AcceptTermsAndConditions" class="form-check-input" />
    <label>Accept Terms and Conditions</label>
    <ValidationMessage For="@(() => Model.AcceptTermsAndConditions)" />
</div>
<div>
    <label>Message:</label>
    <InputTextArea @bind-Value="Model.Message" class="form-control" />
    <ValidationMessage For="@(() => Model.Message)" />
</div>
