@inherits LayoutComponentBase
@inject AuthService AuthService

@code {
    private bool? isTokenValid = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isTokenValid = await AuthService.CheckIfLoggedInAsync();

            if (isTokenValid == true)
            {
                await AuthService.RefreshTokenAsync();
            }

            StateHasChanged();
        }
    }


}

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @if (isTokenValid == false)
            {
                <div class="alert alert-warning">You are not logged in or your session has expired.</div>
            }
            @Body


            @if (false)
            {
                <div>
                    <MauiBlazorWeb.Shared.Components.ComponentsImpl.ShowAuthRespondDto />
                </div>
            }
        </article>

    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
