@page "/drivers/{Id:int}/edit"
@using MauiBlazorWeb.Shared.Components.ComponentsImpl.Drivers
@using MauiBlazorWeb.Shared.Components.ComponentsImpl.SaveChickenRequests
@using MauiBlazorWeb.Web.Services.ServicesImpl
@using global::Shared.Dtos.DtosImpl
@using MauiBlazorWeb.Shared.Factories.FactoriesImpl
@using MauiBlazorWeb.Shared.Components.ComponentsImpl
@inject GenericDtoServiceFactory DtoServiceFactory
<MudContainer>
<h2>Edit Driver</h2>

@if (modelWithFiles != null)
{
    <GenericUpdateWithFiles TDto="DriverDto" model="modelWithFiles">
        <ChildContent Context="editModel">
            <DriverFormWithFiles EntityWithFiles="editModel" />
        </ChildContent>
    </GenericUpdateWithFiles>
}
else
{
    <p>Loading...</p>
}
</MudContainer>
@code {
    [Parameter] public int Id { get; set; }
    private DriverDto? model = null;
    private ItemWithBrowserFiles<DriverDto>? modelWithFiles = null;

    private GenericDtoService<DriverDto, DriverSearch>? _service;

    protected override async Task OnInitializedAsync()
    {
        _service = DtoServiceFactory.Create<DriverDto, DriverSearch>();
        model = await _service.GetByIdAsync(Id);
        modelWithFiles = new ItemWithBrowserFiles<DriverDto>
        {
            Item = model,
            Files = new List<IBrowserFile>()
        };
        StateHasChanged();
    }

}
