@page "/farms/{Id:int}/edit"
@using MauiBlazorWeb.Shared.Components.ComponentsImpl.Farms
@using MauiBlazorWeb.Shared.Components.ComponentsImpl.SaveChickenRequests
@using MauiBlazorWeb.Web.Services.ServicesImpl
@using global::Shared.Dtos.DtosImpl
@using MauiBlazorWeb.Shared.Factories.FactoriesImpl
@using MauiBlazorWeb.Shared.Components.ComponentsImpl
@inject GenericDtoServiceFactory DtoServiceFactory

<h2>Edit Farm</h2>

@if (modelWithFiles != null)
{
    <GenericUpdateWithFiles TDto="FarmDto" model="modelWithFiles">
        <ChildContent Context="editModel">
            <FarmFormWithFiles EntityWithFiles="editModel" />
        </ChildContent>
    </GenericUpdateWithFiles>
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter] public int Id { get; set; }
    private FarmDto? model = null;
    private ItemWithBrowserFiles<FarmDto>? modelWithFiles = null;

    private GenericDtoService<FarmDto, FarmSearch>? _service;

    protected override async Task OnInitializedAsync()
    {
        _service = DtoServiceFactory.Create<FarmDto, FarmSearch>();
        model = await _service.GetByIdAsync(Id);
        modelWithFiles = new ItemWithBrowserFiles<FarmDto>
        {
            Item = model,
            Files = new List<IBrowserFile>()
        };
        StateHasChanged();
    }

}
