@using MauiBlazorWeb.Shared.Components.ComponentsImpl
@using MauiBlazorWeb.Shared.Components.ComponentsImpl.Farms
@using MauiBlazorWeb.Shared.Components.ComponentsImpl.SaveChickenRequests
@using MauiBlazorWeb.Shared.Factories.FactoriesImpl
@using MauiBlazorWeb.Web.Services.ServicesImpl
@using global::Shared.Dtos.DtosImpl

@page "/farms"

<h2>Landwirtschaftsbetriebe</h2>

<h3> Betrieb erstellen</h3>

<GenericCreate TDto="FarmDto">
    <ChildContent Context="model">
        <FarmForm Model="model" />
    </ChildContent>
</GenericCreate>