@using MauiBlazorWeb.Shared.Components.ComponentsImpl
@using MauiBlazorWeb.Shared.Components.ComponentsImpl.SaveChickenRequests
@using MauiBlazorWeb.Shared.Factories.FactoriesImpl
@using MauiBlazorWeb.Web.Services.ServicesImpl
@inject GenericDtoServiceFactory DtoServiceFactory
@using global::Shared.Dtos.DtosImpl

@page "/save-chicken-requests/new"

<PageTitle>Hühner retten</PageTitle>

<MudContainer>

    <h3>Ich biete Hühnern einen Lebensplatz an</h3>

    @if (SaveChickenActionLoaded == true && newRequestDtoWithFiles != null)
    {
        <GenericCreateWithFiles TDto="SaveChickenRequestDto" model="newRequestDtoWithFiles">
            <ChildContent Context="model">
                <SaveChickenRequestFormWithFiles EntityWithFiles="newRequestDtoWithFiles" ShowSaveChickenActionInput=false />
            </ChildContent>
        </GenericCreateWithFiles>
    }
</MudContainer>


@code {
    private GenericDtoService<SaveChickenActionDto, SaveChickenActionSearch>? _service;
    private SaveChickenActionDto? activeChickenDto;
    private SaveChickenRequestDto newRequestDto = new();
    private ItemWithBrowserFiles<SaveChickenRequestDto> newRequestDtoWithFiles = new();
    private bool SaveChickenActionLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        SaveChickenActionSearch search = new SaveChickenActionSearch
        {
            IsActive = true,
            PageSize = 1
        };
        _service = DtoServiceFactory.Create<SaveChickenActionDto, SaveChickenActionSearch>();


        var searchResults = await _service.SearchAsync(search);
        activeChickenDto = searchResults.Data.FirstOrDefault();
        if (activeChickenDto != null)
        {
            newRequestDto.SaveChickenActionId = activeChickenDto?.Id;
        }
        newRequestDtoWithFiles.Item = newRequestDto;
        SaveChickenActionLoaded = true;
    }
}
