@using MauiBlazorWeb.Shared.Components.ComponentsImpl
@using MauiBlazorWeb.Shared.Components.ComponentsImpl.SaveChickenRequests
@using MauiBlazorWeb.Shared.Factories.FactoriesImpl
@using MauiBlazorWeb.Shared.Services.ServicesImpl
@using MauiBlazorWeb.Web.Services.ServicesImpl
@inject SaveChickenActionService saveChickenActionService;
@using global::Shared.Dtos.DtosImpl

@page "/save-chicken-requests/new"

<PageTitle>Hühner retten</PageTitle>

<MudContainer>

    <h3>Ich biete Hühnern einen Lebensplatz an</h3>

    @if (newRequestDtoWithFiles != null)
    {
        <GenericCreateWithFiles TDto="SaveChickenRequestDto" model="newRequestDtoWithFiles">
            <ChildContent Context="model">
                <SaveChickenRequestFormWithFiles EntityWithFiles="newRequestDtoWithFiles" />
            </ChildContent>
        </GenericCreateWithFiles>
    }
    
</MudContainer>


@code {
    private SaveChickenRequestDto newRequestDto = new();
    private ItemWithBrowserFiles<SaveChickenRequestDto>? newRequestDtoWithFiles;
    private bool SaveChickenActionLoaded = false;

    protected override async Task OnInitializedAsync()
    {
        SaveChickenActionDto? activeSaveChickenAction = await saveChickenActionService.GetActiveSaveChickenAction();

        if (activeSaveChickenAction != null)
        {
            newRequestDto.SaveChickenActionId = activeSaveChickenAction?.Id;
        }

        newRequestDtoWithFiles = new ItemWithBrowserFiles<SaveChickenRequestDto>
        {
            Item = newRequestDto,
            Files = new List<IBrowserFile>()
        };
    }
}
