@using MauiBlazorWeb.Shared.Components.ComponentsImpl
@using MauiBlazorWeb.Shared.Components.ComponentsImpl.SaveChickenRequests
@using MauiBlazorWeb.Web.Services
@using global::Shared.Dtos.DtosImpl
@inject MauiBlazorWeb.Shared.Factories.FactoriesImpl.GenericDtoServiceFactory DtoServiceFactory
@page "/save-the-chicken"

<h3>SaveTheChicken</h3>

<button @onclick="CreateRequest">Create Request</button>
<p>
    City:
@newRequest.City
</p>

<h2> Generic List</h2>
<GenericList TDto="SaveChickenRequestDto" TSearchDto="SaveChickenRequestSearch" SearchDto="searchDto">
    <ChildContent Context="items">
        <SaveChickenRequestTable items="items" />
    </ChildContent>
</GenericList>

<h3> Generic</h3>
<GenericCreate TDto="SaveChickenRequestDto">
    <ChildContent Context="model">
        <SaveChickenRequestForm Model="model" />
    </ChildContent>
</GenericCreate>

<hr />
<h3>Search</h3>
<GenericSearch TDto="SaveChickenRequestDto" TSearchDto="SaveChickenRequestSearch">
    <SearchForm Context="search">
        <SaveChickenRequestSearchForm Model="search" />
    </SearchForm>
    <Table Context="items">
        <SaveChickenRequestTable items="items" />
    </Table>
</GenericSearch>



@code {
    private IGenericDtoService<SaveChickenRequestDto, ISearchDto> _service = null!;
    private SaveChickenRequestDto newRequest = new SaveChickenRequestDto();
    private SaveChickenRequestSearch searchDto = new SaveChickenRequestSearch
    {
        Page = 1,
        PageSize = 10
    };
    protected override void OnInitialized()
    {
        _service = DtoServiceFactory.Create<SaveChickenRequestDto, ISearchDto>();
    }

    private List<SaveChickenRequestDto> requests = new List<SaveChickenRequestDto>();

    protected override async Task OnInitializedAsync()
    {
        _service = DtoServiceFactory.Create<SaveChickenRequestDto, ISearchDto>();
        requests = await _service.GetAllAsync();
        StateHasChanged();
    }

    private async Task CreateRequest()
    {
        newRequest.City = "Sample City";
        newRequest = await _service.CreateAsync(newRequest);
        Console.WriteLine($"Created Request with ID: {newRequest.Id}");
        StateHasChanged();
    }
}
