@page "/save-chicken-actions"
@using MauiBlazorWeb.Shared.Components.ComponentsImpl
@using MauiBlazorWeb.Shared.Components.ComponentsImpl.Drivers
@using MauiBlazorWeb.Shared.Components.ComponentsImpl.Farms
@using MauiBlazorWeb.Shared.Components.ComponentsImpl.SaveChickenRequests
@using MauiBlazorWeb.Shared.Factories.FactoriesImpl
@using MauiBlazorWeb.Shared.Services.ServicesImpl
@using MauiBlazorWeb.Web.Services.ServicesImpl
@using global::Shared.Dtos.DtosImpl
@inject GenericDtoServiceFactory DtoServiceFactory
@inject SaveChickenActionService saveChickenActionService

<MudContainer>
    <h3>Rettungs-Aktionen</h3>

    <MauiBlazorWeb.Shared.Components.ComponentsImpl.SaveChickenActions.SaveChickenActionSelector @bind-SelectedActionId="selectedActionId" OnActionSelected="OnActionSelected" />

    @if(selectedAction != null)
    {

        <MudPaper Class="pa-4">
            <MudText Typo="Typo.h6">Abnehmer</MudText>

            <GenericSearch TDto="SaveChickenRequestDto" TSearchDto="SaveChickenRequestSearch" search="saveChickenRequestSearch" OnItemsFound="OnItemsFound">
                <SearchForm Context="search">
                    <SaveChickenRequestSearchForm Model="search" />
                </SearchForm>
                <Table Context="ctx">
                    <SaveChickenRequestTable items="ctx.Item1" OnItemSelected="ctx.Item2" OnSortSelected="ctx.Item3" />
                </Table>
            </GenericSearch>
        </MudPaper>

        <MudPaper Class="pa-4 my-4">
            <SaveChickenRequestMap saveChickenRequestDtos="items" />
        </MudPaper>

        <MudPaper Class="pa-4 my-4">
            <MudText Typo="Typo.h6">Fahrer</MudText>

            <GenericSearch TDto="DriverDto" TSearchDto="DriverSearch" search="driverSearch">
                <SearchForm Context="search">
                    <DriverSearchForm Model="search" />
                </SearchForm>
                <Table Context="ctx">
                    <DriverTable items="ctx.Item1" OnItemSelected="ctx.Item2" OnSortSelected="ctx.Item3" />
                </Table>
            </GenericSearch>
        </MudPaper>

        <MudPaper Class="pa-4 my-4">
            <MudText Typo="Typo.h6">Betriebe</MudText>

            <GenericSearch TDto="FarmDto" TSearchDto="FarmSearch" search="farmSearch" OnItemsFound="OnFarmItemsFound">
                <SearchForm Context="search">
                    <FarmSearchForm Model="search" />
                </SearchForm>
                <Table Context="ctx">
                    <FarmTable items="ctx.Item1" OnItemSelected="ctx.Item2" OnSortSelected="ctx.Item3" />
                </Table>
            </GenericSearch>
        </MudPaper>

        <MudPaper Class="pa-4 my-4">
            <FarmMap farmDtos="foundFarms" />
        </MudPaper>
    }


</MudContainer>


@code {
    private GenericDtoService<SaveChickenActionDto, SaveChickenActionSearch>? _service;
    private SaveChickenActionDto? selectedAction;
    private int? selectedActionId;
    private SaveChickenRequestSearch saveChickenRequestSearch = new SaveChickenRequestSearch();
    private DriverSearch driverSearch = new DriverSearch();
    private FarmSearch farmSearch = new FarmSearch();
    private List<SaveChickenRequestDto> items = new();
    private List<FarmDto> foundFarms = new();

    private void OnItemsFound(List<SaveChickenRequestDto> foundItems)
    {
        items = foundItems;
        StateHasChanged();
    }

    private void OnFarmItemsFound(List<FarmDto> farms)
    {
        foundFarms = farms;
        StateHasChanged();
    }

    private void OnActionSelected(SaveChickenActionDto action)
    {
        selectedAction = action;
        UpdateSaveChickenRequestSearch();
    }

    protected override async Task OnInitializedAsync()
    {

        var activeSaveChickenAction = await saveChickenActionService.GetActiveSaveChickenAction();
        if(activeSaveChickenAction != null)
        {
            selectedAction = activeSaveChickenAction;
            selectedActionId = activeSaveChickenAction.Id;
            UpdateSaveChickenRequestSearch();
        }
    }

    private void UpdateSaveChickenRequestSearch()
    {
       var saveChickenActionIds = selectedAction != null
        ? new List<int> { selectedAction.Id }
        : new List<int>();

            saveChickenRequestSearch = new SaveChickenRequestSearch
            {
                SaveChickenActionIds = saveChickenActionIds
            };
    }
}
