@using MauiBlazorWeb.Shared.Components.ComponentsImpl
@using MauiBlazorWeb.Shared.Components.ComponentsImpl.SaveChickenRequests
@using MauiBlazorWeb.Web.Services
@using global::Shared.Dtos.DtosImpl
@inject MauiBlazorWeb.Shared.Factories.FactoriesImpl.GenericDtoServiceFactory DtoServiceFactory
@page "/save-chicken-requests"

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
    <MudPaper Class="pa-4">
        <GenericSearch TDto="SaveChickenRequestDto" TSearchDto="SaveChickenRequestSearch" OnItemsFound="OnItemsFound" search="saveChickenRequestSearch">
            <SearchForm Context="search">
                <SaveChickenRequestSearchForm Model="search" />
            </SearchForm>
            <Table Context="ctx">
                <SaveChickenRequestTable items="ctx.Item1" OnItemSelected="ctx.Item2" OnSortSelected="ctx.Item3" />
            </Table>
        </GenericSearch>
    </MudPaper>

    <MudPaper Class="pa-4 mt-4">
        <SaveChickenRequestMap saveChickenRequestDtos="items" />
    </MudPaper>

</MudContainer>


@code {
    private SaveChickenRequestSearch saveChickenRequestSearch = new SaveChickenRequestSearch();

    private List<SaveChickenRequestDto> items = new();

    protected override void OnInitialized()
    {
        saveChickenRequestSearch.PageSize = 1000;
    }

    private void OnItemsFound(List<SaveChickenRequestDto> foundItems)
    {
        items = foundItems;
        StateHasChanged();
    }
}